.small-field {
  width: 250px;
}

.small-field .mat-mdc-form-field-infix {
  min-height: 40px;
  padding: 6px 0;
}

.small-field .mat-mdc-text-field-wrapper {
  height: 40px;
}

.small-field input {
  font-size: 13px;
}
